
# pixi environments
**pixi**
*.egg-info
data/
archive/
*.png
*.txt
**/__pycache__/
*.pkl
*.err
*.out
**/sc_experiments/
*/vasp_structs/**
**/structure_*/**
**/eval_bulk/
*.hsd
*.bin
results/eval_bulk/
**eval_bulk/*
